<template>
  <MainLayout>
    <ScoreCard :title="data.title" :message="data.message" />

    <div class="container-dashboard">
      <div class="container-title">
        <span class="title">Próximos níveis</span>
      </div>

      <LevelCard
        v-for="(item, index) in data.infos"
        :key="item.level"
        :backgroundColor="item.backcolor"
        :level="index + 2"
        class="l-card"
        style="display: inline-block"
      />
    </div>
  </MainLayout>
</template>

<script lang="ts">
import d from '../../assets/d';
import { defineComponent } from 'vue';
import MainLayout from '../../layouts/MainLayout.vue';
import LevelCard from '../../components/LevelCard.vue';
import ScoreCard from '../../components/ScoreCard.vue';
import { mapGetters, mapActions } from 'vuex';

export default defineComponent({
  name: 'dashboard-page',

  components: {
    MainLayout,
    LevelCard,
    ScoreCard,
  },

  data() {
    return {
      data: this.getStore || d,
    };
  },

  computed: {
    ...mapGetters('scoreModule', ['getStore']),
  },

  methods: {
    ...mapActions('scoreModule', ['fetchStore']),
  },

  async mounted() {
    await this.fetchStore();
    console.log(this.data);
  },
});
</script>

<style lang="scss">
.container-dashboard {
  width: 85%;
  margin-top: 3.5rem;
  min-height: 700px;
}

.container-title {
  width: 100%;
  padding-left: 3rem;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
}

.l-card {
  margin: 3rem;
}
</style>
