<template>
  <div
    :style="`width: 18px; height: 18px; border-radius: 100%; margin-right: 1rem; background-color: ${backgroundColor}`"
  ></div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'custom-point',
  props: {
    backgroundColor: {
      type: String,
      default: 'grey',
    },
  },
});
</script>
