<template>
  <div class="level-card" :style="`background-color: ${backgroundColor}`">
    <div class="first-row">
      <span class="text-top-card">Nível {{ level }}</span>
      <span class="text-top-card">
        <img
          src="../assets/icons/block.svg"
          alt=""
          style="margin-right: 1rem"
        />
        {{ level * 1000 }}
      </span>
    </div>
    <div class="level-card-bottom">
      <div class="secund-row">
        <CustomPoint :backgroundColor="backgroundColor" />
        <span style="font-size: 1.2rem; color: #000; font-weight: 400">
          A cada 100 pontos equivale a R$ {{ level * 10 }}.
        </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import CustomPoint from './CustomPoint.vue';

export default defineComponent({
  name: 'level-card',
  props: {
    backgroundColor: {
      type: String,
      default: '#ff0058',
    },
    level: {
      type: Number,
      default: 2,
    },
  },
  components: {
    CustomPoint,
  },
});
</script>

<style lang="scss" scoped>
.level-card {
  width: 40%;
  height: 220px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .first-row {
    width: 100%;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
  }
  .secund-row {
    width: 100%;
    height: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .text-top-card {
    font-size: 1.6rem;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  .level-card-bottom {
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    border-radius: 12px;
  }
}
</style>
