<template>
  <ul class="main-menu">
    <li class="main-menu-item" v-for="item in menuItems" :key="item.id">
      <span v-show="item.id === 1"></span>
      <span><img :src="item.icon" alt="" /></span>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'main-menu',
  data() {
    return {
      menuItems: [
        {
          id: 1,
          icon: './assets/icons/menu/home.svg',
          to: '/',
        },
        {
          id: 2,
          icon: './assets/icons/menu/cart-shop.svg',
          to: '/shop',
        },
        {
          id: 3,
          icon: './assets/icons/menu/payment.svg',
          to: '/payment',
        },
        {
          id: 4,
          icon: './assets/icons/menu/form.svg',
          to: '/form',
        },
        {
          id: 4,
          icon: './assets/icons/menu/help.svg',
          to: '/help',
        },
        {
          id: 4,
          icon: './assets/icons/menu/exit.svg',
          to: '/exit',
        },
      ],
    };
  },
});
</script>

<style lang="scss" scoped>
.main-menu {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 0;
}

.main-menu-item {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  span:nth-child(1) {
    width: 7px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }
}
</style>
