<template>
  <header class="main-header">
    <div class="container-header">
      <div class="main-drawer-button">
        <img :src="drawerButtonIcon" alt="" />
      </div>
      <div class="action-header">
        <ul class="main-header-menu">
          <li
            class="header-menu-items"
            v-for="item in headerMenuItems"
            :key="item.id"
          >
            <span v-show="item.id === 1"></span>
            <span><img :src="item.icon" alt="" /></span>
          </li>
        </ul>
        <div class="contianer-circle-img">
          <img
            class="photo-profile"
            src="https://cdn.pixabay.com/photo/2018/01/29/17/01/woman-3116587_960_720.jpg"
            alt=""
          />
        </div>
        <span class="name-profile">{{ user.name }}</span>
        <span style=""><img :src="arrowdownicon" alt="" /></span>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'main-header',
  data() {
    return {
      drawerButtonIcon: './assets/icons/menu/right.png',
      arrowdownicon: './assets/icons/menu/arrow-down.svg',
      headerMenuItems: [
        {
          id: 1,
          icon: './assets/icons/menu/bag-shop.svg',
          to: '/wish-list',
        },
        {
          id: 2,
          icon: './assets/icons/menu/payment-header.svg',
          to: '/payment',
        },
        {
          id: 3,
          icon: './assets/icons/menu/notifications.svg',
          to: '/notifications',
        },
      ],
      user: {
        name: 'Fernanda',
      },
    };
  },
});
</script>

<style lang="scss" scoped>
.container-header {
  width: 100%;
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.action-header {
  width: 26%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-drawer-button {
  width: 50px;
  height: 50px;
  z-index: 99;
  background-color: transparent;
  position: absolute;
  left: -1.3%;
  img {
    width: 50px;
    height: 50px;
  }
}

.main-header-menu {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-items {
  width: 70px;
  height: 100%;
}

.container-circle-img,
.photo-profile {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.container-circle-img {
  background-color: #ffffff;
}

.name-profile {
  font-size: 1.3rem;
  color: #777;
}
</style>
