<template>
  <div class="score-card">
    <div class="score-card-container">
      <div class="img-circle-container">
        <img style="width: 175px" src="../assets/img/circle-blue.png" alt="" />
        <span class="info-circle-img">{{ '134\n/999' }}</span>
      </div>
      <div class="info-container">
        <span style="font-size: 2rem; font-weight: 500">
          {{ title }}
        </span>
        <span style="font-size: 1.4rem; font-weight: 400">
          {{ message }}
        </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ScoreCard',
  props: {
    title: {
      type: String,
      default: '',
    },
    message: {
      type: String,
      default: '',
    },
  },
});
</script>

<style lang="scss" scoped>
.score-card {
  width: 75%;
  height: 180px;
  border-radius: 20px;
  background-color: #32a2f6;
  display: flex;
  justify-content: flex-end;
  margin: 0 5rem 0 0;
}

.score-card-container {
  width: 99%;
  padding: 0 5rem;
  box-sizing: border-box;
  height: 180px;
  border-radius: 17px;
  background-color: #fff;
  display: flex;
}

.img-circle-container {
  padding: 0 5rem;
  box-sizing: border-box;
  height: 200px;
  border-radius: 17px;
  position: relative;
}

.info-circle-img {
  width: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  position: absolute;
  top: 47%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.info-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
