<template>
  <div id="dashboard">
    <MainHeader />
    <aside class="main-aside">
      <MainMenu />
    </aside>
    <section class="content">
      <slot></slot>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import MainHeader from '../components/MainHeader.vue';
import MainMenu from '../components/MainMenu.vue';

export default defineComponent({
  name: 'MainLayout',
  components: {
    MainHeader,
    MainMenu,
  },
});
</script>

<style lang="scss">
#dashboard {
  min-width: 100%;
  min-height: 100vh;
}

.main-header,
.content {
  width: 95.5%;
  right: 0;
}

.main-header,
.main-aside {
  position: fixed;
  top: 0;
}

.main-header,
.container-header,
.action-header {
  height: 55px;
}

.main-header {
  z-index: 9;
  width: 96%;
  background-color: white;
  box-shadow: 1px 1px 10px #888;
}

.main-aside {
  width: 4.5%;
  padding: 1.8rem 0;
  min-height: 100vh;
  background-color: #333;
  left: 0;
}

.content {
  min-height: 91.4vh;
  background-color: #f7f7f7;
  position: absolute;
  top: 66px;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
